#ChecklistSection {
  padding: 2rem 4rem;

  .ChecklistTitle {
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    list-style-type: none;
    padding: 0;
    margin-top: 1.5rem;

    li {
      display: flex;
      column-gap: 1rem;

      padding: 0;
      font-weight: 300;
      font-size: 0.875rem;

      input + span {
        border-width: 2px;
      }
    }
  }
}
