#DeviceListSection {
  padding: 2rem 1.5rem 0rem 1.5rem;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-size: 87.5%;

  .DeviceListTitle {
    font-weight: 700;
  }
  ul {
    li {
      font-weight: 300;
    }
  }
}
