// headings
body {
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
}

h1 {
    font-weight: 500;
    font-size: 64px;
}

h2 {
    font-weight: 500;
    font-size: 48px;
}

h3 {
    font-weight: 500;
    font-size: 32px;
}

h4 {
    font-weight: bold;
    font-size: 24px;
}

h5 {
    font-size: 20px;
    line-height: 32px;
}

h6 {
    font-weight: bold;
    font-size: 16px;
}

b {
    font-weight: bold;
}

strong {
    font-weight: bold;
    text-transform: uppercase;
}

small {
    font-size: 12px;
}