@mixin button-styles {
  display: flex;
  justify-content: space-between;

  column-gap: 0.5rem;
  margin: 2rem 0.5rem;

  .BackSummaryIcon {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0rem 1.2rem;
    transform: rotateY(180deg) scale(0.8);
  }

  button {
    min-width: 20rem;
    font-size: 105%;
    font-weight: 700;
    color: #fefefe;
    &:active {
      background-color: transparent;
      border-color: transparent;
      color: #bfdefa;
    }
  svg path {
    fill: #547aff;
  }
}
}

#PresetFooter {
  .PresetStartFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    column-gap: 0.5rem;
    margin: 1.5rem 3rem;
  }

  .PresetConfigurationFooter {
    @include button-styles;
      .ConfigureOutputsIcon {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0rem 1.2rem;
        transform: scale(0.8);
      }
  }
  .ChecklistFooter {
    @include button-styles;
    button:nth-of-type(2) {
      min-width: 11rem;
    }
  }
}
