#PresetSceneSchema {
  position: relative;
  #ConnectionModal {
    position: absolute;
    top: 0;
    left: 5%;

    height: auto;
    width: 55%;
    background-color: #1E1E1E;

    .ConnectionModalHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 1rem;
      padding-top: 1rem;

      .ConnectorDetails {
        display: flex;
        column-gap: 1rem;
        align-items: center;
      }
      .icon-closeButton {
        svg {
          height: 1rem;
          width: 1rem;
        }
      }
      svg {
        font-size: 0.5rem;
        height: 1.8rem;
        width: 1.8rem;
      path {
        stroke: black;
        stroke-width: 1.2;
      }
    }
    }
    .ConnectionModalFooter {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 1rem;
        padding: 2rem 1.5rem 0 0;

        button {
          width: fit-content;
          padding: 0 1rem;
        }
      }
    }
  .SceneSchemaTitle {
    margin: 0;
    font-weight: 700;
    padding: 1.5rem 2rem;
  }
  #PresetHelpTooltip {
    .Tooltip-gabrielle .content {
      padding: 0.7rem;
      width: 14rem;
    }
  }
  .SceneSchemaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75%;
    position: relative;

    .DynamicPinContainer {
      position: absolute;
      .PinItems {
        display: flex;
        column-gap: .75rem;
        position: relative;
        .PinChecked {
          display: flex;
          align-items: center;
          justify-content: center;

          position: absolute;
          top: -15%;
          right: -12%;

          height: 1.2rem;
          width: 1.2rem;
          background-color: #ffff;
          border-radius: 100%;
          svg {
            path {
              stroke: black;
              fill: black;
              stroke-width: .5;
            }
          }
        }
        .Button-primary * {
          fill: none;
          color: #FDD153;

          .icon-videoCamera {
            transform: rotate(90deg);
          }

          svg {
            font-size: 0.5rem;
            height: 1.8rem;
            width: 1.8rem;
          path {
            stroke: black;
            stroke-width: 1.2;
          }
        }
        }
      }
    }
  }
  .SceneSchemaLocation {
    position: relative;
    display: flex;
    align-items: center;

    top: -15%;
    margin-left: 3rem;
    padding: 0rem 2rem;

    .LocationPin {
      background-color: #FDD153;
      border-radius: 100%;
      height: .8rem;
      width: .8rem;
      margin-right: .5rem;
    }
  }
}
