#PresetConnectorSchema {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1rem;
  .ConnectorSchemaInstructions {
    display: flex;
    align-items: center;
  }
  .ControlPanelContainer {
    display: flex;
    column-gap: 2rem;
  }
  .ConnectorPanel {
    display: flex;
    column-gap: 1.3rem;
    justify-content: center;
    align-items: center;

    width: 33%;
    padding: .5rem;

    border: 1px solid #828282;
    border-radius: 9px;
    position: relative;

    .ConnectorPanelTitle {
      position: absolute;
      top: -20%;

      background-color: #242424;
    }
    .ConnectorsContainer {
      display: flex;
      column-gap: 1.5rem;
      justify-content: space-around;

      .Connector {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        align-items: center;
        justify-content: center;

        // @todo: to be moved to ui-components
        .Checkbox-focus [type=checkbox]+span {
          border: 1px solid;
        }

        .Checkbox-disabled [type=checkbox]+span {
          border: 1px solid #828282;
          background-color: rgba(130, 130, 130, 0.2);

          svg path {
            fill: #828282;
          }
        }

        .Checkbox-focus [type=checkbox]:checked+span{
          background-color: transparent;
        }
      }
    }
  }
}
