#SceneTestingSection {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .TesterTitle {
    display: flex;
    justify-content: space-between;

    font-weight: 500;
    p {
      margin-top: 0;
    }
  }

  .Tester {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1rem;

    .TesterDevice {
      display: flex;
      column-gap: 1rem;

      .TesterDeviceIcon {
        width: 2rem;
        height: 2rem;
      }
    }

    .TesterTools{
      display: flex;
      column-gap: 2rem;
      align-items: flex-start;
      padding-right: 1.5rem;
    }

    .TesterMediaContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: 100%;
      }

      #TesterMediaContainerImg {
        height: 6.5rem;
        width: 15rem;
        background-color: #828282;
      }
    }

    .TesterButtonsContainer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 1rem;

      button {
        padding: 0 0.5rem;
      }
    }
  }
}
