#StepsSection {
  display: flex;
  flex-direction: column;
  column-gap: 3rem;

  padding: 2rem 4rem;
  max-height: 50%;

  .StepsSectionHeader {
    font-size: 87.5%;
    font-weight: bold;
    margin: 0;
  }

  ul {
    display: flex;
    flex-direction: column;

    list-style-type: none;
    padding: 0;
    }

  li {
      display: flex;
      align-items: center;
      justify-content: space-around;
      column-gap: 0.5rem;

      max-height: 6rem;
      border-bottom: 1px solid #808080;

      .StepsSectionItemThumbnail {
        align-self: stretch;

        width: 4rem;
        height: 4rem;
        margin: 1rem 0rem;

        .StepsSectionItemImg {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .StepsSectionItemDescription {
        font-size: 87.5%;
        font-weight: 700;
        width: 50%;
        margin: 1rem 30% 0 0.5rem;

        .StepsSectionItemDescriptionHeader {
          margin-bottom: 0.5rem;
        }

        .StepsSectionItemDescriptionText {
          display: block;
          margin-top: 0.2rem;
          font-weight: 300;
          margin-bottom: 2rem;
        }
      }

      .StepsSectionItemDescriptionPageCounter {
        font-weight: bold;
      }
  }
}
